#loading {
    font-size: 2rem;
}

#loading span{
    opacity: 0;
    transition: all 0.5s ease;
    transform: translateY(10px);
    display: inline-block;
}

#loading span.animation{
    opacity: 1;
    transform: translateY(0px);
}
